@import "Styles/variables.scss";

.accountInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  &_funds {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: auto;
    height: 1.5rem;
    border-radius: 0.5rem;
    background: map-get($grey, 10);
    border: 1px solid map-get($grey, 30);
    color: $burgundy;
  }
  img {
    width: 0.8rem;
    height: 0.8rem;
  }
}
