$grey: (
  100: #404040,
  90: #575757,
  80: #6e6e6e,
  70: #858585,
  60: #9d9d9d,
  50: #b4b4b4,
  40: #cbcbcb,
  30: #e2e2e2,
  20: #f1f1f1,
  10: #f9f9f9,
);

$pink: (
  100: #ed1164,
  90: #e5095c,
  80: #f14687,
  60: #f57ba9,
  40: #f9b0cc,
  20: #fde5ee,
);

$white: #ffffff;
$charcoal: #282828;
$burgundy: #97144d;
$neutral: (
  1: #f1f4f7,
);

$aquaDeep: #12877f;
